@font-face {
  font-family: 'Classic-Robot';
  src:  url('../fonts/ClassicRobot.woff2') format('woff2'),
        url('../fonts/ClassicRobot.woff') format('woff'),
        url('../fonts/ClassicRobot.ttf') format('truetype');
}

@font-face {
  font-family: 'Abel-Regular';
  src:  url('../fonts/Abel.woff2') format('woff2'),
        url('../fonts/Abel.woff') format('woff'),
        url('../fonts/Abel.ttf') format('truetype');
}